version: '3.8'

services:
  issuer-db:
    image: postgres:15
    container_name: issuer-db
    environment:
      POSTGRES_DB: issuerdb
      POSTGRES_USER: issuer
      POSTGRES_PASSWORD: issuerpass
    ports:
      - "5433:5432" # Host mapping 5433 -> Container 5432
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - callcenter-net

networks:
  callcenter-net:
    driver: bridge
